<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-md-4">
      <div class="libImage" ng-if="course.image" style="background-image: url({{ course.image }})"></div>
      <div class="libImage" ng-if="!course.image" style="background-image: url(http://www.techonline.com/img/tmp/no-image-icon.jpg)"></div>
      <div class="form-group">
        <label>Image URL:</label>
        <input id="imageInput" class="form-control" ng-model="course.image" ng-change="course.$save()">
      </div>
    </div>
    <div class="col-md-8 courseMeta">
      <div class="form-group">
        <label>Title:</label>
        <input id="titleInput" class="form-control" ng-model="course.title" ng-change="course.$save()">
      </div>
      <div class="form-group">
        <label>Course Description:</label>
        <textarea id="descriptionInput" class="form-control" ng-model="course.description" ng-change="course.$save()"></textarea>
      </div>
      <div class="form-group">
        <label>Category:</label>
        <select id="tagInput" class="form-control" ng-model="course.tag" ng-change="course.$save()">
          <option value=""></option>
          <option ng-repeat="tag in tags" ng-value="tag.$value">{{tag.$value}}</option>
        </select>
      </div>
      <button class="btn btn-block" style="background: #3b3a36; color: white; margin-top: 20px;" ng-click="reorder()">Reorder Course Content</button>
    </div>
  </div>

  <div class="timelineContainer container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li ng-repeat="lesson in lessons" ng-class="$even ? '' : 'timeline-inverted'">
            <div class="timeline-image" ng-click="setLesson(lesson)">
              <span class="icon ion-document-text" ng-show="lesson.type=='text'"></span>
              <span class="icon ion-headphone" ng-show="lesson.type=='audio'"></span>
              <span class="icon ion-social-youtube" ng-show="lesson.type=='video'"></span>
              <span class="icon ion-link" ng-show="lesson.type=='url'"></span>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <a class="subheading" ng-click="setLesson(lesson)">{{lesson.title}}</a>
              </div>
              <div class="timeline-body">
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image done" ng-click="addContent()" data-toggle="tooltip" title="Add Content">
              <span class="icon ion-plus"></span>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image done" ng-click="publishCourse()" data-toggle="tooltip" title="Publish Course">
              <span class="icon ion-upload"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<a href="#/library" class="btn btn-circle btn-lg library second" data-toggle="tooltip" data-placement="left" title="Find Courses"><span class="ion-ios-book"></span></a>
<a ng-show="user.editor" href="#/create_courses" class="btn btn-circle btn-lg create fourth" data-toggle="tooltip" data-placement="left" title="Create Courses"><span class="ion-edit"></span></a>
<a href="#/login" class="btn btn-circle btn-lg settings first" data-toggle="tooltip" data-placement="left" title="Log Out" ng-click="unAuth()"><span class="ion-log-out"></span></a>
<a href="#/" class="btn btn-circle btn-lg home third" data-toggle="tooltip" data-placement="left" title="My Courses"><span class="ion-home"></span></a>

<div class="modal fade" id="addContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Content</h4>
      </div>
      <div class="modal-body">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active" id="text"><a href="#tab1" data-toggle="tab">Text</a></li>
            <li id="html"><a href="#tab2" data-toggle="tab">URL</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="textTitle" id="textTitle">
              </div>
              <div class="form-group">
                <label>Content</label>
                <textarea ng-show="textInput==='text'" class="form-control" rows="15" ng-model="text"></textarea>
                <div ng-show="textInput!=='text'" style="height: 300px;" ng-model="text" ui-ace="{
                useWrapMode : true,
                mode: 'html'
                }"></div>
              </div>
              <label class="radio-inline">
                <input type="radio" ng-model="textInput" value="text"> Text
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="textInput" value="html"> HTML
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="textInput" value="markdown"> Markdown
              </label>
            </div>
            <div class="tab-pane" id="tab2">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="urlTitle">
              </div>
              <div class="form-group">
                <label>URL</label>
                <input type="text" class="form-control" ng-model="url">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveLesson()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{lesson.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active" id="text"><a href="#tab3" data-toggle="tab">Preview</a></li>
            <li id="html"><a href="#tab4" data-toggle="tab">Edit</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab3">
              <div ng-hide="lesson.type == 'url'" ng-bind-html="lesson.data | unsafe"></div>
              <iframe ng-hide="lesson.type !== 'url'" src="{{lesson.data | url}}"></iframe>
            </div>
            <div class="tab-pane" id="tab4">
              <textarea ng-show="lesson.type!=='text'" ng-model="lesson.data" class="form-control" rows="20" ng-change="lesson.$save()"></textarea>
              <div ng-show="lesson.type==='text' && !lesson.markdown" style="height: 400px;" ng-model="lesson.data" ng-change="lesson.$save()" ui-ace="{
                useWrapMode : true,
                mode: 'html'
              }"></div>
              <div ng-show="lesson.type==='text' && lesson.markdown" style="height: 400px;" ng-model="lesson.markdown" ng-change="compileMarkdown()" ui-ace="{
                useWrapMode : true,
                mode: 'html'
              }"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        <button type="button" class="btn btn-danger" ng-click="lesson.$remove()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reorderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Drag and Drop to Reorder</h4>
      </div>
      <div class="modal-body" style="height: auto;">
        <ul ui-sortable class="list-group" ng-model="lessons" style="cursor: pointer;">
          <li ng-repeat="lesson in lessons" class="list-group-item">{{ lesson.title }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" ng-click="saveOrder()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
