<!-- <input class='form-control' type="text" ng-model="name" placeholder="Name">
<input class='form-control' type="email" ng-model="email" placeholder="Email">
<input class='form-control' type="password" ng-model="password" placeholder="Password">
<button class="btn btn-lg" ng-click="create()">Create Account</button> -->

<div class="wrapper">
  <div class="login">
    <span class="ion-ios-bookmarks"></span>
    <h1>LEXA</h1>
    <form class="form">
      <input type="text" placeholder="Name" ng-model="name">
      <input type="text" placeholder="Email" ng-model="email">
      <input type="password" placeholder="Password" ng-model="password">
      <button id="login-button" ng-click="create()">Create Account</button>
    </form>
  </div>
</div>