<div class="container">
  <h3 class="sectionHeader">Create and Edit Courses</h3><hr>
  <div class="DocumentList">
    <ul class="list-inline">
      <li class="DocumentItem">
          <div ng-click="addModal()" class="plus-circle libImage"><span class="icon ion-plus"></span></div>
      </li>
      <li class="DocumentItem" ng-repeat="course in courses">
        <div class="libImage" style="background-image: url({{course.image}})">
          <a href="#/create_course/{{course.$id}}">
            <div class="overlay2">
              <span>{{course.title}}</span>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<a href="#/library" class="btn btn-circle btn-lg library second" data-toggle="tooltip" data-placement="left" title="Find Courses"><span class="ion-ios-book"></span></a>
<a ng-show="user.editor" href="#/create_courses" class="btn btn-circle btn-lg create fourth activeNav" data-toggle="tooltip" data-placement="left" title="Create Courses"><span class="ion-edit"></span></a>
<a href="#/login" class="btn btn-circle btn-lg settings first" data-toggle="tooltip" data-placement="left" title="Log Out" ng-click="unAuth()"><span class="ion-log-out"></span></a>
<a href="#/" class="btn btn-circle btn-lg home third" data-toggle="tooltip" data-placement="left" title="My Courses"><span class="ion-home"></span></a>
   
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Course</h4>
      </div>
      <div class="modal-body addCourse">
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" ng-model="newCourseTitle">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addCourse()">Create Course</button>
      </div>    
    </div>
  </div>
</div>