<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/">Home</a></li>
            <li><a href="#">Courses I'm Taking</a></li>
            <li ng-show="user.editor"><a href="#/create_courses">Courses I'm Creating</a></li>
            <li><a href="#/login" ng-click="unAuth()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <h2>{{course.title}}</h2>
  <div class="form-group">
    <label>Course Description:</label>
    <textarea class="form-control" ng-model="courseDescription"></textarea>
  </div>
  <button class="btn btn-block" style="margin-bottom: 20px;" ng-click="saveDescription()">Save</button>

  <div class="panel panel-default" ng-repeat="lesson in lessons">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="#/create_course/{{course.$id}}/viewLesson/{{lesson.$id}}">{{lesson.title}}</a></h3>
    </div>
    <div class="panel-body" style="height: 100px; overflow: hidden; text-overflow: ellipsis;">
      <div ng-bind-html="lesson.data | unsafe"></div>
    </div>
    <div class="panel-footer"><a target="_blank" href="{{lesson.url}}">{{lesson.url}}</a></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add Content:</h3>
    </div>
    <div class="panel-body">
      <p>Use the Google Chrome browser extension</p>
      <p>or enter url:</p>
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" ng-model="urlTitle">
      </div>
      <div class="form-group">
        <label>URL:</label>
        <input type="text" class="form-control" ng-model="newUrl">
      </div>
      <button class="btn btn-block" ng-click="addUrl()">Add URL</button>
    </div>
  </div>

  <a href="#/create_courses"><button class="btn btn-block" ng-click="publishCourse()">Publish Course</button></a>
</div>