<div class="wide" style="background-image: url(https://images.unsplash.com/photo-1420393438053-4defbbd0c7a1?q=80&fm=jpg&s=49532d35d4d7f346e24571aa7bb98c17)">
  <div class="overlay3">
    <div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 lexa">LEXA</div>
    <div class="col-xs-5 line"><hr></div>
  </div>
</div>
<div class="topImageWrapper">
  <div class="container">
    <div class="card" id="currentCourses">
      <h3 class="sectionHeader" id="inProgress">In Progress</h3>
      <span class="search1">
        <input ng-model="searchText"></input>
        <button><i class="ion-search"></i></button>
      </span>
      <hr>
      <div class="DocumentList">
          <ul class="list-inline">
              <li class="DocumentItem my-repeat-animation" ng-repeat="course in userCourses | filter:{done: false} | filter: searchText">
                <div class="courseList">
                  <div class="libImage" style="background-image: url({{course.image}})">
                    <a href="#/my_course/{{course.$id}}">
                      <div class="overlay2">
                        <span>{{course.title}}</span>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom: 30px;">
    <div class="card" id="completedCourses">
      <h3 class="sectionHeader">Completed Courses</h3>
      <span class="search1">
        <input ng-model="searchText"></input>
        <button><i class="ion-search"></i></button>
      </span>
      <hr>
      <div class="DocumentList">
          <ul class="list-inline">
              <li class="DocumentItem" ng-repeat="course in userCourses | filter:{done: true} | filter: searchText">
                <div class="libImage" style="background-image: url({{course.image}})">
                  <a href="#/my_course/{{course.$id}}">
                    <div class="overlay2">
                      <span>{{course.title}}</span>
                    </div>
                  </a>
                </div>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<span id="navTour">
<a href="#/library" id="libTour" class="btn btn-circle btn-lg library second" data-toggle="tooltip" data-placement="left" title="Find Courses"><span class="ion-ios-book"></span></a>
<a ng-show="user.editor" href="#/create_courses" class="btn btn-circle btn-lg create fourth" data-toggle="tooltip" data-placement="left" title="Create Courses"><span class="ion-edit"></span></a>
<a href="#/login" class="btn btn-circle btn-lg settings first" id="logoutTour"data-toggle="tooltip" data-placement="left" title="Log Out" ng-click="unAuth()"><span class="ion-log-out"></span></a>
<a href="#/" class="btn btn-circle btn-lg home third activeNav" id="homeTour" data-toggle="tooltip" data-placement="left" title="My Courses"><span class="ion-home"></span></a>
</span>
